* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Graphik';
    font-weight: 700;
    src: url('https://figmaland1-projetoslucasbargas.netlify.app/assets/fonts/GraphikBold.otf');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 400;
    src: url('https://figmaland1-projetoslucasbargas.netlify.app/assets/fonts/GraphikRegular.otf');
}

:root {
    --white-color: #ffffff;
    --white-hover: #f5e7e7;
    --dark-blue: #252B42;
    --sky-blue: #2091F9;
    --sky-blue-hover: #257bcc;
}

body {
    font-family: 'Graphik';
    list-style: none;
    background: var(--dark-blue);
}

h2, h3, p, a {
    color: var(--white-color);
    letter-spacing: 1px;
}

p, h3 {
    line-height: 27px;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    background-image: url('https://figmaland1-projetoslucasbargas.netlify.app/assets/images/bg/header_bg.png');
    background-position: center;
    background-size: cover;
    height: 710px;
    padding: 0 3%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
}

.flex-align {
    display: flex;
    align-items: center;
    gap: 35px;
}

.header-nav-links a {
    padding: 1rem 0;
    font-weight: 400;
}

.header-logo {
    display: block;
    background-image: url('https://figmaland1-projetoslucasbargas.netlify.app/assets/images/header_logo.png');
    background-position: center;
    background-size: cover;
    width: 186px;
    height: 58px;
    margin-left: 10px;
}

.menu-mobile {
    display: none;
}

.header-content {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.header-text {
    text-align: center;
    max-width: 500px;
}

.header-text h2 {
    font-size: 3.13rem;
}

.header-text p {
    margin: 30px 0 50px 0;
}

.header-button {
    background: var(--white-color);
    color: var(--sky-blue);
}

.header-button:hover {
    background: var(--white-hover);
}

.app-button {
    display: inline-block;
    font-size: 0.875rem;
    padding: 13px 50px;
    border-radius: 20px;
    transition: 0.6s;
}

.features {
    text-align: center;
    padding: 70px 3%;
}

.section-title {
    font-weight: 400;
    font-size: 2rem;
}

.section-text {
    margin-top: 20px;
    display: inline-block;
    max-width: 350px;
}

.features-area {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}

.features-wrapp {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    gap: 0 45px;
}

.features-single {
    text-align: center;
}

.features-single h3 {
    margin-top: 15px;
}

.features-single p {
    margin-top: 20px;
}

.player img {
    max-width: 100%;
}

.app-infos {
    padding: 0 3%;
}

.app-infos .section-title {
    max-width: 300px;
}

.app-infos .section-text {
    max-width: none;
}

.app-infos-one {
    display: flex;
    padding-top: 40px;
}

.app-infos-one a {
    display: inline-block;
}

.infos-one-left, .infos-one-right {
    width: 50%;
}

.infos-one-left {
    padding-top: 30px;
}

.section-button {
    padding-top: 40px;
}

.section-button a {
    background: var(--sky-blue);
}

.infos-one-right img {
    width: 100%;
    height: auto;
}

.app-infos-two {
    padding: 90px 0;
    display: grid;
    grid-template-areas: 
    'info-img info-text'
    'info-img newsletter';
}

.infos-two-img {
    grid-area: info-img;
    padding-right: 60px;
}

.infos-two-img img {
    width: 100%;
    height: auto;
}

.info-two-text {
    grid-area: info-text;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info-two-text p {
    font-size: 0.875rem;
}

.newsletter h3 {
    font-size: 0.875rem;
}

.newsletter p {
    font-size: 0.82rem;
}

.newsletter {
    grid-area: newsletter;
    padding-top: 20px;
}

.newsletter-form {
    padding-top: 15px;
}

.newsletter-form input {
    border-radius: 20px;
    outline: 0;
    padding-left: 22px;
    color: var(--dark-blue);
}

.newsletter-form .app-button {
    background: var(--sky-blue);
    color: var(--white-color);
    font-size: 0.82rem;
    padding: 0 21px;
    cursor: pointer;
}

.blue-button:hover {
    background: var(--sky-blue-hover);
}

.newsletter-form input, .newsletter-form button {
    height: 43px;
    border: 0;
}

.newsletter-form input::placeholder {
    color: var(--dark-blue);
    font-size: 0.62rem;
    font-weight: 700;
}

.partners {
    text-align: center;
    padding: 30px 3% 80px 3%;
}

.partners-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.partners-imgs img {
    width: 80%;
    height: auto;
}

.img-single {
    display: none;
}

.testimonials {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 3% 80px 3%;
}

.testimonials .section-title {
    text-align: center;
}

.testimonials-content {
    padding-top: 60px;
    text-align: center;
}

.testimonials-text {
    padding-top: 20px;
}

.testimonials-text .section-text {
    max-width: none;
}

.testimonials-content img {
    width: 140px;
    height: 57px;
}

.client-text {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.client-text img {
    width: 50px;
    height: 50px;
}

.client-info h3 {
    font-weight: normal;
}

.testimonials .section-button {
    text-align: center;
    padding: 50px;
}

.pricing {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 3% 80px 3%;
}

.pricing-area {
    padding-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.pricing-single {
    flex: 1;
    border-radius: 15px;
}

.pricing-single h3 {
    text-transform: uppercase;
    font-size: 0.94rem;
}

.pricing-single p {
    font-size: 0.82rem;
    line-height: 20px;
}

.price-white {
    background: var(--white-color);
    padding: 35px 45px;
}

.price-white h3, .price-white p {
    color: var(--dark-blue);
}

.price-blue {
    background: var(--sky-blue);
    padding: 70px 45px;
}

.price-blue h3, .price-blue p {
    color: var(--white-color);
}

.price-card img {
    width: 110px;
}

.price-card {
    padding: 20px 0 30px 0;
}

.illustration-text {
    display: grid;
    gap: 20px;
}

.price-blue .section-button a {
    background: var(--white-color);
    color: var(--sky-blue);
}

.price-blue .section-button a:hover {
    background: var(--white-hover);
}

.pricing-single .app-button {
    padding: 13px 30px;
    display: block;
}

.contacts {
    padding: 60px 3% 80px 3%;
    text-align: center;
}

.contacts-area {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.form {
    background: var(--white-color);
    grid-row: 1/4;
    width: 350px;
    border-radius: 20px;
    padding: 110px 30px 30px 30px;
    text-align: left;
}

.form input, .form textarea {
    display: block;
    width: 100%;
    background: #F5F5F5;
    border: 0;
    outline: 0;
}

.form input::placeholder, .form textarea::placeholder {
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 0.88rem;
    font-family: 'Graphik';
}

.form input {
    padding: 10px 14px;
    border-radius: 20px;
    height: 40px;
}

.form input:not(:first-of-type) {
    margin-top: 35px;
}

.form textarea {
    padding: 12px 0 0 14px;
    resize: none;
    margin-top: 35px;
    height: 200px;
}

.form .app-button {
    padding: 13px 30px;
}

.contact-info {
    display: flex;
    align-items: center;
    grid-column: 2/5;
    padding-top: 15px;
}

.contact-info-single {
    flex: 1;
}

.contact-info-single p {
    font-size: 0.83rem;
    line-height: 22px;
    margin-top: 15px;
}

.map {
    grid-column: 2/5;
    padding: 40px 0;
}

.map img {
    width: 70%;
    height: auto;
}

.social-medias {
    grid-column: 2/5;
    display: flex;
    gap: 25px;
    height: 50px;
}

.social-medias img {
    width: 25px;
    height: 25px;
}

.contact-info, .map, .social-medias {
    padding-left: 40px;
}

.final-app {
    padding: 60px 3% 80px 3%;
}

.footer-app-area {
    display: flex;
}

.final-app-single:not(:last-of-type) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final-app-single:nth-of-type(1) {
    width: 20%;
}

.final-app-single:nth-of-type(2) {
    width: 20%;
}

.final-app-single:nth-of-type(3) {
    width: 20%;
}

.final-app-single:nth-of-type(4) {
    width: 40%;
    padding-left: 100px;
}

.final-app-single:nth-of-type(4) div:not(:first-of-type) {
    margin-top: 20px;
}

.final-app-single a {
    font-size: 0.88rem;
}

.final-app-single nav ul {
    display: grid;
    gap: 20px;
}

.map-footer, .device-footer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.map-footer img, .device-footer img {
    width: 36px;
    height: 36px;
}

.social-medias-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.creator-infos {
    padding-top: 50px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.creator-infos a {
    font-weight: 700;
}

.creator-infos a:hover {
    text-decoration: underline;
}

.original-layout {
    display: inline-block;
    margin-top: 10px;
}

.modal {
    position: fixed;
    background: RGBA(37, 43, 67, 0.9);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}

.jsModal.active {
    display: flex;
}

.modal-area {
    width: 600px;
    height: auto;
    background: var(--white-color);
    border-radius: 10px;
    animation: modalAnimation 0.6s forwards;
    display: flex;
    flex-direction: column;
}

@keyframes modalAnimation {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close-button {
    border: 0;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    background: transparent;
    align-self: flex-end;
    color: var(--sky-blue);
    padding: 10px 15px;
    margin: 4px;
}

.modal-area-content {
    padding: 15px 15px 0 15px;
}

.modal-area-content h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
}

.modal-area-content p {
    font-size: 1rem;
    margin-top: 20px;
    color: #000000;
}

.modal-area-content span, .modal-area-content a {
    color: #000000;
    font-weight: 700;
}

.button-repo {
    text-align: center;
    padding: 10px 0 30px 0;
}

.button-repo a {
    display: inline-block;
    color: var(--sky-blue);
    font-weight: 700;
}

.button-repo a:hover {
    text-decoration: underline;
}

.close-button-two {
    padding-bottom: 40px;
    text-align: center;
}

.modal-button {
    background: var(--sky-blue);
    color: var(--white-color);
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 10px;
    text-align: center;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.6s;
}

.modal-button:hover {
    background: var(--sky-blue-hover);
}

/***************** media queries *****************/
@media screen and (min-width: 1367px) and (max-width: 1536px) {
    .header {
        height: 800px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .container {
        max-width: 1100px;
    }
}

@media screen and (max-width: 1024px) {
    .app-infos-one {
        display: block;
        text-align: center;
    }
    
    .app-infos-one a {
        display: inline-block;
    }
    
    .infos-one-left, .infos-one-right {
        width: 100%;
    }

    .app-infos .section-title {
        max-width: none;
    }
    
    .infos-one-left {
        padding-top: 0;
    }

    .infos-one-right {
        padding-top: 30px;
    }

    .app-infos-two {
        grid-template-areas: 
        'info-text'
        'info-img' 
        'newsletter';
        text-align: center;
    }

    .infos-two-img {
        padding: 70px 0;
    }

    .newsletter-form input, .newsletter-form button {
        display: block;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .newsletter {
        padding-top: 0;
    }

    .newsletter-form .app-button {
        margin-top: 10px;
    }
}

@media screen and (max-width: 930px) {
    p {
        line-height: 35px;
    }

    .header-nav-links {
        display: none;
    }

    .header-logo {
        margin-left: 0;
    }

    .social-media {
        display: none;
    }

    .menu-mobile {
        display: block;
        cursor: pointer;
        background-image: url('https://figmaland1-projetoslucasbargas.netlify.app/assets/images/icons/mobile.png');
        background-position: center;
        width: 40px;
        height: 32px;
    }

    .header-text p {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .price-white {
        padding: 25px 15px;
    }
    
    .price-blue {
        padding: 50px 15px;
    }

    .contact-info, .map, .social-medias  {
        padding-left: 0;
    }

    .social-medias {
        grid-row: 1/2;
        grid-column: 1/5;
        justify-content: center;
    }

    .contact-info {
        grid-column: 1/5;
        grid-row: 2/3;
        padding: 25px 0 50px 0;
    }
    
    .form {
        grid-column: 1/5;
        grid-row: 3/4;
        width: 70%;
        margin: 0 auto;
    } 
    
    .map {
        display: none;
    }

    .footer-app-area {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .final-app-single {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .final-app-single:nth-of-type(1) {
        width: 100%;
    }
    
    .final-app-single:nth-of-type(2) {
        width: 100%;
    }
    
    .final-app-single:nth-of-type(3) {
        width: 100%;
    }
    
    .final-app-single:nth-of-type(4) {
        width: 100%;
        padding-left: 0;
    }

    .final-app-single:nth-of-type(4) div:not(:first-of-type) {
        margin-top: 0;
    }

    .final-app-single:nth-of-type(4) .map-footer, .final-app-single:nth-of-type(4) .device-footer {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .modal-area-content p {
        text-align: center;
    }
    
    p {
        line-height: 30px;
    }

    .header-content {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }

    .header-text {
        max-width: 400px;
    }

    .header-text h2 {
        font-weight: 400;
    }

    .features-area {
        flex-direction: column-reverse;
    }
    
    .features-wrapp {
        flex-direction: column;
        gap: 45px;
    }

    .features-single {
        padding: 0 60px;
    }

    .partners-imgs {
        gap: 30px;
    }

    .partners-showcase {
        display: none;
    }

    .img-single {
        display: block;
    }

    .pricing-area {
        display: block;
        padding: 40px 30px 0 30px;
    }

    .pricing-single:not(:first-of-type) {
        margin-top: 40px;
    }

    .price-white {
        padding: 30px 15px;
    }
    
    .price-blue {
        padding: 30px 15px;
    }

    .contact-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .contact-info-single {
        text-align: left;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .contact-info-single p {
        margin-top: 0;
        max-width: 200px;
    }

    .form {
        width: 100%;
        margin: 0 auto;
    }
    
    .modal-area {
        width: 90%;
    }
}

@media screen and (max-width: 380px) {
    .header-nav {
        padding: 20px 0;
    }

    .header-content {
        margin-top: 60px;
    }

    .header-text h2 {
        font-size: 2.5rem;
    }

    .header-text p {
        font-size: 1.25rem;
        padding: 0 20px;
    }

    .contact-info-single p {
        max-width: none;
    }

    .modal-area-content h2 {
        font-size: 1.25rem;
    }

    .modal-area-content p, .modal-button {
        font-size: 0.88rem;
    }
}

@media screen and (max-width: 350px) {
    .features-single {
        padding: 0 40px;
    }

    .form {
        padding: 90px 20px 30px 20px;
    }
}

@media screen and (max-width: 300px) {
    p {
        line-height: 25px;
    }

    .header-logo {
        width: 150px;
        height: 47px;
    }

    .menu-mobile {
        width: 32px;
        height: 26px;
    }

    .header-text h2 {
        font-size: 2rem;
    }

    .header-text p {
        font-size: 1rem;
        padding: 0 20px;
    }

    .header-text p {
        margin: 30px 0 40px 0;
    }

    .testimonials-content img {
        width: 135px;
        height: 54px;
    }

    .pricing-area {
        padding: 40px 10px 0 10px;
    }
}

@media screen and (max-width: 250px) {
    .features-single {
        padding: 0 30px;
    }
}